*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
.navbar-brand{
    color: #fff;
    font-weight: 900;
    font-size: 2rem !important;
}
.navbar{
    position: fixed;
    z-index: 99;
    transition: 0.4s ease-in-out ;
}
.navbar .nav-link{
    color: #fff;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: bolder;
    position: relative;
}
.nav-link::before{
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #136910;
    transition: 0.4s;
}
.nav-link:hover::before{
    width: 100%;
}
.navbar.active{
    background-color: #103100;
}
/* .navbar-toggler-icon{
    color: #fff;
    background-color: #fff;
} */
.wall{
    background: url('../images/wallp.png') no-repeat right;
    background-size: contain;
}